# solidrop-staging用のCaddyfile追記内容
# 既存Caddyfileのワイルドカードブロック ( *.is.lalafell.fun ) より前に追加する
#
# 適用方法:
#   1. ホスト上のCaddyfileのマウントパスを確認: docker inspect caddy --format '{{json .Mounts}}'
#   2. そのファイルを編集してこのブロックを追記
#   3. docker exec caddy caddy reload --config /etc/caddy/Caddyfile
#
# productionを追加する際は domain を api.solidrop.nafell.dev、
# ポートを 3002 に変えて同様に追加

staging.api.solidrop.nafell.dev {
    reverse_proxy http://localhost:3001
}
